# SPDX-FileCopyrightText: 2011- European Centre for Medium-Range Weather Forecasts (ECMWF)
# SPDX-License-Identifier: Apache-2.0

# These are the requirements for readthedoc
docutils
Sphinx>=4.4.0
setuptools>=51.0.0
sphinx-rtd-theme>=0.5.0
